.search {
  background: rgba(0,0,0,0.86);
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  display: flex;
  margin-left: -16px;
  margin-top: -16px;
  padding: 10px;
  position: sticky;
  top: 0;
  width: calc(100% + 12px);
  z-index: 1000;
}

.search input[type="text"] {
  width: calc(100% - 16px);
}

.search input[type="checkbox"] {
  margin-right: 8px;
  transform: scale(1.5);
}

.search label {
  align-items: center;
  display: flex;
  font-size: 12px;
  margin-left: 8px;
  padding: 4px;
}

h2 {
  font-size: 20px;
  margin-bottom: 16px;
  margin-top: 16px;
}

main {
  display: flex;
}

.gear {
  flex-grow: 1;
  margin-right: 16px;
}

.export {
  display: flex;
  align-items: center;
}

footer {
  padding-top: 8px;
}

footer button, header button {
  margin-right: 8px;
}

footer button:disabled {
  color: rgba(255, 255, 255, 0.2);
}

textarea {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  /* color: rgba(255, 255, 255, 0.9); */
  display: block;
  height: 18px;
  margin-right: 8px;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}

.import {
  display: flex;
  margin-top: 16px;
}
.import input {
  margin-right: 8px;
}