.item {
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: 2px 2px rgba(255, 255, 255, 0.2);
  margin-bottom: 8px;
  padding: 8px;
}
.description {
  align-items: center;
  display: flex;
  font-size: 18px;
  justify-content: space-between;
}
.item button {
  margin-left: 8px;
}

button:disabled {
  color: rgba(255, 255, 255, 0.2);
}

.level {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  padding-left: 8px;
}

.no-upgrades {
  color: rgba(255, 255, 255, 0.5);
}

.upgrades {
  color: rgba(255, 255, 255, 0.76);
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
}

.upgrade {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
  display: block;
  margin-right: 8px;
  margin-top: 8px;
  padding-right: 8px;
  padding: 4px;
}
.levelled {
  display: none;
}
.upgrade-cost {
  display: inline-block;
  margin-left: 8px;
}
